@import url('https://fonts.googleapis.com/css2?family=Marko+One&family=Uchen&display=swap');
.secreto {background-color:rgb(160, 202, 200);
		width: 100px;
		height: 25px;
		font-family: 'Marko One', serif;
		font-size: 15px;
		border-radius: 30px}